.img-grid-view {
  height: 180px;
}
.img-list-view {
  width: 150px;
}
.product-view-list {
  height: 230px;
}
.product-list-wrapper {
  width: 75%;
  .product-view-grid {
    width: 32%;
  }
  @media screen and (max-width: 830px) {
    width: 100%;
  }
  @media screen and (max-width: 830px) {
  }
  @media screen and (max-width: 615px) {
    .product-view-grid {
      width: 48.5%;
    }
  }
  @media screen and (max-width: 450px) {
    .product-view-grid {
      width: 49.3%;
    }
  }
  @media screen and (max-width: 340px) {
    .product-view-grid {
      padding: 8px;
    }
  }
  @media screen and (max-width: 285px) {
    .product-view-grid {
      width: 100%;
    }
  }
}
@media screen and (max-width: 830px) {
  .card-band {
    display: none;
  }
  .product-cat-filter {
    display: none;
  }
  .img-grid-view {
    height: 110px;
  }
  .img-list-view {
    width: 100 px;
  }
  .product-view-list {
    height: fit-content;
  }
}
@media screen and (max-width: 450px) {
  .ctn-rating {
    display: none;
  }
  .t-card {
    display: none;
  }
}

@media screen and (max-width: 535px) {
  .ctn-rating-list {
    display: none;
  }
}
